/* GENERAL */

html {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32325D;
  height: 100px;
  padding: 32px 32px;
}

h1{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}

h4{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}

/* FOND RADIAL */

.radial {
  background: 
      url('../img/Rectangle 4169.png'),
      radial-gradient(circle, 
          rgb(232, 161, 253) 6%,   /* #E8A1FD à 100% */
          rgb(232, 161, 253) 6%,   /* #E8A1FD à 100% */
          rgb(141, 160, 248) 32%,  /* #8DA0F8 à 100% */
          rgb(95, 123, 246) 56%,   /* #5F7BF6 à 100% */
          rgb(81, 109, 232) 71%,   /* #516DE8 à 100% */
          rgb(60, 60, 150) 87%,    /* #3C3C96 à 100% */
          rgb(50, 50, 93) 100%     /* #32325D à 100% */
      );
  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;
}

/* HEADER */
header a{
  color: white;
  text-decoration: none;
}

header .text_1_header{
  display: flex;
  gap: 24px;
}

/* HERO_HEADER */

#hero_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 300px;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.text_1_hero_header{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.text_2_hero_header{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: white;
}

/* CONTEXTE */

#contexte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.text_1_context{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #B97BFC;
}

.text_2_context{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #E8A1FD;
}

.text_3_context{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #B97BFC
}

/* FONCTIONNALITE */

#fonctionnalité{
  display: flex;
  flex-direction: column;
}

.img_temoignages{
  height: 400px;
}

#fonctionnalite{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.h1_fonctionnalite{
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

#activites-bien_etre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#interaction{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#educatif{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* TEMOIGNAGES */

#temoignages{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

#articles_temoignages{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.article_temoignages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 250px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 3px solid rgb(255, 255, 255, 0.3);
}

.image_temoignages{
  height: 150px;
  width: 150px;
}

.texte_1_temoignages{
  color: #B97BFC;
  font-weight:bold;
  font-family: 'Montserrat';
}

.texte_2_temoignages{
  color: #32325D;
  font-family: 'Montserrat';
  font-weight:bold;
}

.texte_3_temoignages{
  color: #32325D;
  font-family: 'Montserrat';
  /* font-weight: lighter; */
}