/* GENERAL */

html {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32325D;
  height: 100px;
  padding: 32px 32px;
}

h1{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}

h4{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}

/* POLICE */

.H1_HaloMind{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.H2_HaloMind{
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Montserrat';
}

/* COLOR */
.white{
  color: white;
}

.AUTRE_1_FONCE{
  color: #B97BFC;
}

.AUTRE_1_CLAIRE{
  color: #E8A1FD;
}

/* FOND RADIAL */

.radial {
  background: 
      url('../img/Rectangle 4169.png'),
      radial-gradient(circle, 
          rgb(232, 161, 253) 6%,   /* #E8A1FD à 100% */
          rgb(232, 161, 253) 6%,   /* #E8A1FD à 100% */
          rgb(141, 160, 248) 32%,  /* #8DA0F8 à 100% */
          rgb(95, 123, 246) 56%,   /* #5F7BF6 à 100% */
          rgb(81, 109, 232) 71%,   /* #516DE8 à 100% */
          rgb(60, 60, 150) 87%,    /* #3C3C96 à 100% */
          rgb(50, 50, 93) 100%     /* #32325D à 100% */
      );
  background-blend-mode: multiply; 
  background-size: cover;
  background-position: center;
}

/* HEADER */
header a{
  color: white;
  text-decoration: none;
}

header .text_1_header{
  display: flex;
  gap: 24px;
}

/* HERO_HEADER */

#hero_header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 300px;
}

/* CONTEXTE */

#contexte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.text_1_context{
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.text_2_context{
  font-size: 42px;
  font-weight: bold;
  font-family: 'Montserrat';
}

/* FONCTIONNALITE */



/* TEMOIGNAGES */

#temoignages{
  height: 100vh;
}

#titre-sousTitre{
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

#test{
  height: 100vh;
}

.photos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 40%;
}

.image_temoignages{
  height: 400px;
}

.liste{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.liste ul li{
  font-size: 20px;
}